*{
	margin: 0;
	font-family: arial;
}

.content-blog-noibat .Main_Content{
	display: flex;
}
.BlogDetail_wrapper{
    line-height: 1.6;
    padding: 0 44px 60px;
}
.Content_Left{
	width: 201px;
	position: relative;
	top: 0;
}
.Content_Right{
	width: 599px;
    margin-top: 20px;
}
.BlogDetail_header{
	width: 580px;
	height: 59px;
	margin-top: 20px;
}
.BlogDetail_user{
	align-items: center;
	display: flex;
	float: left;
	
}
.vuongmien{
    margin-bottom: 40px;
    right: 853px;
    position: absolute ;
    width: 14.5px;
}
.img_f8{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.BlogDetail_info{
	margin-left: 10px;
}
.BlogDetail_name{
	counter-reset: #292929;
	font-size: 1.1rem;
	font-weight: 550;
}
.BlogDetail_time{
	color: #757575;
	font-size: 13.5px;
}
.BlogDetail_dot{
	color: #757575;
	font-weight: 500;
	padding: 0 4px;
}
.BlogDetail_actions{
	float: left;
	font-weight: 700;
	margin-left: 325px;

}   
.MardownParser_wrapper{
    line-height: 36px;
    font-size: 18px;
    
}
.Chu_Mau_Cam{
    color: #f05123;
	text-decoration: underline;
	font-size: 18px;
}
.size_img{
width: 580px;
height: 326px;
}
.blockquote{
    border-left: 3px solid #f05123
    color:#757575 ;
}
.span_trang{
color: #f8f8f2;
}
.span_xam{
    color: #8292a2;
}
.code-toolbar{
    height: 300px;
}
.name_code{
	background-color: rgba(96,125,139,.2);
	border-radius: 3px;
	padding: 3px 4px;
	white-space: pre-wrap!important;
	font-size: 1rem;
}

#Footer{
	width: 100%;
	height: 450px;
    margin-top: 50px;
    background-color: #181821;
    color: #fff;
    position: sticky;
    padding: 20px 0px;

}
.Footer-Wrapper{
	width: 85%;
	height: 300px;
	margin-left: 120px;
	margin-top: 60px;
}
.Footer-Column{
	float: left;
}
.Footer-Column ul,
.Footer-Column .content{
	list-style-type: none;
	padding: 0px 30px 30px 30px;
}
.Footer-Column ul li a,
.Footer-Column .content{
	display: inline-block;
	font-size: 14px;
    color: #a9b3bb;
    margin-top: 10px;
    text-decoration: none;
}
.Footer-Wrapper .s1,
.Footer-Wrapper .s5{
	width: 25%;
}
.Footer-Wrapper .s2,
.Footer-Wrapper .s3,
.Footer-Wrapper .s4{
	width: 16%;
}

/**/
.Footer-Column .header{
	display: inline-flex;
	margin: 15px 0px 15px 30px;
}
.Footer-Column .header h5{
	line-height: 38px;
    margin-left: 10px;
    color: #fff;
}
.Footer-Column .header img{
	width: 38px;
	height: 38px;
	border-radius: 8px;
}
/*Fotter-bottom*/
.Footer-Bottom{
	width: 1100px;
	margin-left: 150px;
	display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #a9b3bb;
}
.Footer-Bottom .link .fa-youtube-square{
	color: red;
}
.Footer-Bottom .link .fa-facebook-square{
	color: blue;
}
.Footer-Bottom .link .fa-tiktok{
	color: #a9b3bb;
}
.Footer-Bottom .link .fa-youtube-square,
.Footer-Bottom .link .fa-facebook-square,
.Footer-Bottom .link .fa-tiktok{
	margin-left: 15px;
	font-size: 30px;
}